$navbar-width: 500px;
$navbar-height: 50px;
$navbar-padding: 0 10px;
$navbar-margin: 5px;

$navbar-brand-mtop: 15px;
$navbar-brand-fs: 1em;

$navbar-menu-fs: 14px;
$navbar-menu-mtop: 2px;
$navbar-menu-padding: 0 5px;

// Tema 1
$navbar-cbs-bg: #49213E;
$navbar-cbs-color: #000;
$navbar-cbs-border: 1px solid #000;
// Tema 2
$navbar-t2-bg: #2C3E50;
$navbar-t2-color: #000;
$navbar-t2-border: 1px solid #000;
// Tema 3
$navbar-t3-bg: #2873B5;
$navbar-t3-color: #000;
$navbar-t3-border: 1px solid #000;

$fonte: 'Helvetica', sans-serif;
$hover-bg: #4682B4;
$hover-color: #000;
